@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-primary text-white;
}

@layer base {
	@font-face {
		font-family: "Circular";
		src: url("/fonts/Circular.otf") format("opentype");
	}

	@font-face {
		font-family: "Circular-Thin";
		src: url("/fonts/CircularThin.otf") format("opentype");
	}
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #444;
}
