@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-primary text-white;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #333;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #444;
}
